{
  "plugins": ["@prettier/plugin-php"],
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "braceStyle": "1tbs"
      }
    },
    {
      "files": ["*.js", "*.ts", "*.vue", "*.json"],
      "options": { "semi": false }
    }
  ]
}
